:root,
[data-theme='default'] {
  --color-brand-400: #ff9a86;
  --color-brand-500: #a24b38;
  --color-brand-600: #8f3d2d;
  --color-support-500: #b9f0dc;
  --color-support-700: #2f6857;
  --color-neutral-0: #ffffff;
  --color-neutral-50: #fff8f6;
  --color-neutral-100: #fff3ed;
  --color-neutral-200: #f4e4df;
  --color-neutral-300: #dac1bb;
  --color-neutral-400: #aa9d99;
  --color-neutral-500: #7d6d68;
  --color-neutral-600: #4d403d;
  --color-neutral-700: #352b29;
  --color-neutral-900: #201d1e;
  --color-success-500: #b9f0dc;
  --color-success-700: #2d6a5c;
  --color-danger-500: #d25043;
  --color-danger-700: #9b241e;
  --color-danger-800: #ba1a1a;
}
